{{ partial "header" . }}
  <div class="py-5 text-center text-white bg-light" style="background-image: url('/assets/weekend.jpg'); background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-3">Pre-KBF</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light" >
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="row text-left mt-5">
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2">
                <i class="d-block mx-auto fa fa-3x fa-question-circle"></i>
              </div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary">
                  <b>&nbsp; &nbsp; Wat is pre-KBF?</b></h5>
              </div>
            </div>
            <p>Om alvast in de stemming te komen voor het KloosterBoerderijFestival is er een pre-KBFestivalletje in het weekend van 17 april. Dit vindt plaats in woongemeenschap de Wonne in Enschede.
Het is een weekend voor iedereen die KBF leuk vindt + voor mensen die graag willen helpen om het zomerfestival te organiseren.</p>
          </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-map-marker-alt"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Waar en wanneer?</b></h5>
                </div>
              </div>
              <p>Van vrijdag 17 april 18:00 tot zaterdag 18 april 19:00 in <a href="https://dewonne.wordpress.com/de-wonne-in-enschede/">woongemeenschap De Wonne</a>, Noorderhagen 25, Enschede.</p>
              <p>De Wonne is een inspirerende plek in het centrum van Enschede, waar een groep mensen samenleeft met mensen die tijdelijk geen ander huis hebben en tegelijk ook de deuren openzet voor mensen die op straat leven.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                  <div class="text-center col-2">
                    <i class="d-block mx-auto fa fa-3x fa-info-circle"></i>
                  </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Praktische info</b></h5>
                </div>
              </div>
              <p>We slapen in verschillende gedeelde kamers in de Wonne in bedden of op zelf meegebrachte slaapmatjes. Als het voor jou nodig is om in een bed te slapen of een kamer alleen te hebben, geef dat dan even aan in de aanmelding.</p>
Denk je erover om met kids deel te nemen, leuk! Het idee is dat jezelf verantwoordelijk bent voor je kinderen, er is geen specifiek programma voor hen en er zijn niet veel kinderspecifieke faciliteiten aanwezig.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-euro-sign"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Kosten</b></h5>
                </div>
              </div>
              <p>Richtlijn: 25 euro pp (mag ook meer, om het mogelijk te maken dat mensen minder betalen)</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-clipboard-list"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Programma</b></h5>
                </div>
              </div>
              <p>We volgen een gebedsritme, 's ochtends werken we mee in de Wonne en 's middags is er ruimte voor workshops.</p>
              <p>Hieronder is een <a href="#schedule">tijdschema</a> te vinden voor het weekend</p>
              <a class="btn btn-secondary mb-3" href="https://registratie.kloosterboerderijfestival.nl/kbf/pre-kbf-2020/" target="blank">Meld je aan!</a>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-smile"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Enthousiast?</b></h5>
                </div>
              </div>
              <p>Op zaterdagavond + zondag gaan de mensen die graag willen helpen om het zomerfestival te organiseren overleggen (met een gebedsritme). Mail ons op info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl als je graag mee wilt helpen organiseren!
              <p style="font-weight: bold;">Aanmelden kan tot en met maandag 13 april.</p>
              <p>Nog vragen? Mail Nelleke op info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl</p>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;/assets/pre-kbf/achtergrond.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4 text-center">Programma</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Vrijdag 17 april</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 18:00 – <b>Avondeten (met de mensen van de Wonne)</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 19:30 – <b>Koffie, thee, samen kletsen, elkaar leren kennen</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 22:00 – <b>Avondgebed (Taizé)</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Zaterdag 18 april</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 08:00 – <b>Ochtendgebed (Taizé) met aansluitend ontbijt</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 09:30 – <b>Werk: verschillende taken doen in & om de Wonne</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 12:30 – <b>Middaggebed (Taizé)</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 13:00 - <b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 14:00 – <b>Thema middag, met op thema georganiseerde groepjes, over bijvoorbeeld: woongroepen, actievoeren, DIY + ideeën uitwisseling hierover etc. Ook is er een rondleiding in de Wonne.</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 18:00 – <b>Avondmaaltijd</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 19:00 – <b>Afsluiting</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="py-5 bg-primary">
      <!-- Gallery -->
      <div class="container">
       <h1 class="mb-3">Impressie KBF@Wonne in 2016 en 2018</h1>
       <div class="row">

             {{ $images := .Page.Resources.ByType "image" }}
             {{ range $images }}
               {{ $thumbnail := .Fill "600x600" }}
               {{ $fullsize := .Resize "1200x" }}
               <div class="col-lg-3 col-md-6 p-3">
                 <a href="{{ $fullsize.Permalink }}" data-fancybox="gallery">
                 <img class="img-fluid d-block" src="{{ $thumbnail.Permalink }}">
                 </a>
               </div>
              {{ end }}
        </div>
      </div>
  </div>
{{ partial "footer.html" . }}
