
{{ partial "header" . }}

  <!-- Events -->
  <div class="py-5 bg-light" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary text-center">{{ .Title }}</h1>
          <div class="row">
            {{ range where .Site.Pages "Type" "blog" }}
            <div class="col-md-4 p-3">
              <a href="{{ .Permalink }}"><img class="img-fluid d-block w-100 mb-3" src="{{ .Params.Featured_image }}"></a>
              <p class="lead text-muted mb-1">{{ .Date.Format "2 January 2006"}}</p>
              <a href="{{ .Permalink }}">
              <h5 class="text-dark"><b>{{ .Title }}</b></h5>
              </a>
              <p class="mb-3">{{ .Description }}</p>
              <a href="{{ .Permalink }}" class="btn btn-outline-primary"><b class="">Lees verder</b></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
</div>

{{ partial "footer.html" . }}

