/*!
* Aquamarine Pingendo template (https://templates.pingendo.com)
* Based on: Bootstrap v4.0.0 (https://getbootstrap.com)
* Copyright 2014-2018 Pingendo (https://pingendo.com)
*/
 
@import url('https://fonts.googleapis.com/css?family=Ubuntu condensed'); 
@import url('https://fonts.googleapis.com/css?family=Ubuntu'); 
@import url('https://fonts.googleapis.com/css?family=Quattrocento'); 
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400');

@import "timeline";

  
// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #51ade8,
  secondary: #12bbad,
  light: #f3f3f3,
  dark: #151515,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: #333;
$body-color-inverse: invert($body-color) !default;
$link-color: #12bbad;

// Fonts
$font-family-base: Ubuntu;


$headings-font-family: Ubuntu condensed;



$display-font-family: Ubuntu;




$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;

//$spacer: 1.5rem;
//$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 960px);

// Components
$border-width: 1px !default;

// Buttons
$input-btn-padding-y-lg:    .55rem;
$input-btn-padding-x-lg:    1.2rem;
$input-btn-padding-x:       1rem !default;

// Cards
$card-border-width:        0px;
$card-bg:                  map-get($theme-colors, 'light');

// Breadcrumb
$breadcrumb-bg: transparent !default;

// Carousel
$carousel-caption-width:            					100% !default;
$carousel-indicator-height:                   6px !default;

// Forms
$form-group-margin-bottom:       0rem;

@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/fontawesome';


html,body {
   height:100%;
}

body > * {
  background-position: center;
  background-size: cover;
}

.cover {
 min-height: 100%; 
}

.inset-shadowed {
  box-shadow: inset 0px 0px 45px #555;
}

.shadowed {
  box-shadow: 0px 0px 5px #555;
}

.section-aquamarine {
  position: relative;
  color:white;
  background-size:cover;
  background-position: center;
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(to bottom right, transparentize(theme-color("primary"), 0.4) 0%, transparentize(theme-color("secondary"), 0.4) 100%);
  }
}

.section-dark {
  position: relative;
  color:map-get($theme-colors, 'light');
  background-size:cover;
  background-position: center;
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'dark'), 0.75);
  }
}

.section-light {
  position: relative;
  color:map-get($theme-colors, 'dark');
  background-size:cover;
  background-position: center;
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'light'), 0.75);
  }
}

.section-parallax {
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}

.bg-aquamarine {
	background: linear-gradient(-30deg, transparentize(theme-color("secondary"), 0.1) 0%, transparentize(theme-color("primary"), 0.1) 50%, transparentize(theme-color("primary"), 0.05) 100%);
  color:white;
}

.img-thumbnail {
  border:0px;
  padding:10px;
}

.carousel {
	.carousel-caption {
    padding-top:50px;
    padding-bottom:20px;
	  bottom:0px;
		background: linear-gradient(transparent 10%, transparentize(theme-color("dark"), 0.05) 100%);}
  .carousel-control-next, .carousel-control-prev {
    opacity:0.85;}
  .carousel-indicators {
    bottom: 0px;
  }
}



/* Animate state between .navbar and .navbar-ontop */
.navbar  {
  transition: background-color .5s ease-out;
}

.navbar-ontop {
  background-color: transparent !important;
}

/* Animate on entrance */

.animate-in-down {
  transition: all 1.3s ease-out;
	position:relative;
  opacity:1;
  top:0px;
  &.out-of-viewport {
    top:40px;
    opacity:0;
  }
}


.animate-in-left {
  transition: all 1.0s ease-out;
	position:relative;
  opacity:1;
	left:0%;
  &.out-of-viewport {
    opacity:0;
      left:-5%;
  }
}


.animate-in-right {
  transition: all 1.0s ease-out;
	position:relative;
  opacity:1;
	left:0%;
  &.out-of-viewport {
    opacity:0;
    left:5%;
  }
}

.nonce {
  display: none;
}
