    <!-- Contact -->
    <div class="py-5 bg-light" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Contact</h1>
            <p>Heb je een vraag, zou je met de voorbereiding of tijdens het festival willen helpen of wil je ons gewoon een berichtje sturen? Dat kan door een mailtje te sturen naar info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl</p>
          </div>
        </div>
      </div>
    </div>
