  <!-- Cover -->
  <div class="align-items-center py-5 section-aquamarine d-flex bg-primary" style="background-image: url({{ .Param "logo" | relURL }});">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-3 d-none d-md-block text-center">{{ .Param "title" }}</h1>
          <h1 class="display-5 d-block d-md-none text-center">{{ .Param "title-splitted" }}</h1>
          <h4 class="text-center"><i>{{ .Param "subtitle" }}</i></h4>
          <h3 class="text-center">4 - 10 augustus 2025</h3>
          <h4 class="text-center">Locatie wordt later bekend gemaakt</h4>
	  <!--<p class="text-center"><a href="https://forms.gle/WkQWY6PSpR3V318NA" class="btn btn-dark" target="_blank"><b>Meld je nu aan!</b></a></p>-->
          <h4 class="text-center"></h4>
        </div>
      </div>
    </div>
  </div>
