<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Site Title, Description, Author, and Favicon -->
{{- with .Title | default .Site.Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}" />
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}

{{- if .Params.Type }}
  <meta property="og:type" content="article" />
{{- end }}

{{- with .Description | default .Content | default .Site.Params.description | default .Summary }}
  <meta name="description" content="{{ . | plainify | truncate 200 }}">
  <meta property="og:description" content="{{ . | plainify | truncate 200 }}">
  <meta name="twitter:description" content="{{ . | plainify | truncate 200 }}">
{{- end }}
  <meta name="author" content="{{ .Site.Author.name }}"/>
{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}

{{- with .Params.Featured_image | default .Params.image | default .Site.Params.logo }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}
  <meta name="twitter:card" content="summary" />
{{- with .Site.Author.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
{{- end }}

  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- Hugo Version number -->
  {{ .Hugo.Generator -}}

  <meta name="keywords" content="klooster boerderij festival kloosterboerderijfestival boeren gebed ritme buitenwerk inspiratie">

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" type="text/css">
  {{ partial "css.html" . }}

  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

  <!-- Used to serve contact details -->
  <style>
    #dummy {
      display: none;
    }
  </style>

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

  <script src="https://identity.netlify.com/v1/netlify-identity.js"></script>

</head>
<body class="cover">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a class="nav-link text-light" href="{{ "/" | relLangURL }}"><b>KBF 2025</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{{ "/#actueel" | relLangURL }}"><b>Actueel</b></a>
          </li>
          <li class="nav-item mx-2 dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ T "information" }}</a>
             <div class="dropdown-menu">
<!--             <a class="dropdown-item" href="{{ "/#venue" | relLangURL }}">{{ T "location" }}</a> -->
             <a class="dropdown-item" href="{{ "/#prijzen" | relLangURL }}">{{ T "prices" }}</a>
             <a class="dropdown-item" href="{{ "/#schedule" | relLangURL }}">{{ T "program" }}</a>    
             <a class="dropdown-item" href="{{ "/#nieuwsbrief" | relLangURL }}">{{ T "newsletter" }}</a>
             <a class="dropdown-item" href="{{ "/#selfies" | relLangURL }}">Team</a>
             <a class="dropdown-item" href="{{ "/#contact" | relLangURL }}">Contact</a>
             <a class="dropdown-item" href="{{ "/about" | relLangURL }}">Over het KBF</a>
            </div>
          </li>
          <li class="nav-item mx-2 dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ T "archive"}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://www.kloosterboerderijfestival.nl/blog/" target="blank">2021-2023</a>
              <a class="dropdown-item" href="https://2020.kloosterboerderijfestival.nl" target="blank">2020</a>
              <a class="dropdown-item" href="https://2019.kloosterboerderijfestival.nl" target="blank">2019</a>
              <a class="dropdown-item" href="https://2018.kloosterboerderijfestival.nl" target="blank">2018</a>
              <a class="dropdown-item" href="https://2017.kloosterboerderijfestival.nl" target="blank">2015-2017</a>
            </div>
          </li>
          <li class="nav-item mx-2 dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <i class="fas fa-globe" aria-hidden="true"></i>
              <span>{{ index site.Data.i18n.languages .Lang }}</span>
            </a>
            <ul class="dropdown-menu">
              {{ range .Translations }}
              <li class="dropdown-item">
                <a href="{{ .Permalink }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                  <span>{{ index site.Data.i18n.languages .Lang }}</span>
                </a>
              </li>
              {{ end }}
            </ul>
          </li>
	  <!--<a class="btn navbar-btn mx-2 text-white btn-outline-light" href="https://forms.gle/WkQWY6PSpR3V318NA">Meld je nu aan!</a>-->

        </ul>
      </div>
    </div>
  </nav>
