    <!-- newsletter -->
    <div class="py-5 text-white bg-primary text-center" id="nieuwsbrief">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Nieuwsbrief</h1>
            <p class="lead mb-4">Schrijf je in voor de nieuwsbrief om op de hoogte te blijven</p>
            <form method="post" action="https://listmonk.kloosterboerderijfestival.nl/subscription/form" class="form-inline justify-content-center" target="_blank">
              <div class="input-group my-1">
                <input type="text" value="" name="email" class="form-control mr-3 my-1" id="email-address" placeholder="Type hier je email adres">
                <input id="b0eba" type="hidden" name="l" checked value="b0eba884-01ce-4640-b3a5-db2e11346429" />
                <input name="nonce" class="nonce value">
              </div>
              <button type="submit" class="btn navbar-btn mx-2 text-white btn-outline-light">Aanmelden</button>
            </form>
          </div>
        </div>
      </div>
    </div>

