  <div class="p-5 bg-light" id="prijzen">
    <div class="container">
      <h1 class="mb-4 text-center">Prijzen</h1>
      <p class="lead">Wat leuk dat je naar het KBF wilt komen! Het liefst zien we je natuurlijk de hele week. Kies dus voor het weekkaartje! <p>
      <p>De prijzen zijn hoger t.o.v. vorig jaar. Hogere kosten zijn helaas onvermijdelijk. Tegelijkertijd streven we er naar het festival voor iedereen toegankelijk te houden. Er komt een optie om gebruik te maken van korting, we hopen dan ook dat hier gebruik van wordt gemaakt.</p>
      <p>We doen ons best om de prijs van het festival laag te houden, donaties zijn daarom van harte welkom. We gebruiken dit geld om het festival ook voor mensen met een kleiner budget toegankelijk te maken. Het KBF maakt geen winst.</p>
<!--      <ul>
        {{ range .Site.Params.prijzen.items }}
        <li>{{ .item }}
        {{ end }}
      </ul>
-->
      <div class="row">
        {{ range .Site.Params.prijzen.tickets }}
        <div class="p-3 align-self-center col-md-4">
          <div class="card bg-primary">
            <div class="card-block p-4">
              <h4>{{ .name }}</h4>
              <h1>€{{ .price }}</h1>
              <hr>
              <p>{{ .description }}</p>
              <a href="https://forms.gle/WkQWY6PSpR3V318NA" class="btn btn-dark">{{ T "register" }}</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
</div>
