  <!-- Speakers -->
  <div class="py-5 bg-light" id="speakers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary" id="selfies">Het KBF Team</h1>
          <p class="lead text-center">Het KBF wordt georganiseerd door een enthousiast team van vrijwilligers.<p>
        </div>
      </div>
      <div class="row">
 <!--       <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/anneke.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Anneke</b></h3>
          <p class="text-muted"></p>
 </div> -->
        <div class="col-6 col-lg-3 animate-in-left text-center">
          <img src="/assets/nelleke.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Nelleke</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/esger.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Esger</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/gerrald.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Gerrald</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/thijs.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Thijs</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/charlotte.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Charlotte</b></h3>
          <p class="text-muted"></p>
        </div>
        <div class="col-6 col-lg-3 animate-in-right text-center">
          <img src="/assets/inge.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Inge</b></h3>
          <p class="text-muted"></p>
        </div>
      </div>
    </div>
  </div>
