    <div class="container">
 <!--     <div class="row">
        <div class="text-center mx-auto col-md-8">
          <h1 class="mb-3">I enjoy with my whole heart</h1>
          <p class="lead">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world.</p>
        </div>
      </div>
--> 
     <div class="row">

      {{ range $.Page.Params.gallery }}
        {{ $img := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $thumbnail := $img.Fill "600x600" }}
        {{ $fullsize := $img.Resize "1200x" }}
        <div class="col-lg-3 col-md-6 p-3">
          <a href="{{ $fullsize.Permalink }}" data-fancybox="gallery" data-caption="{{ $img.Params.caption }}">
          <img class="img-fluid d-block" src="{{ $thumbnail.Permalink }}">
          </a>
        </div>
       {{ end }}
      </div>
    </div>
